<div class="menu-section">
    <h3 class="text-center">Notre menu</h3>
    <h3 class="text-center">Spécialité 1</h3>
    <div class="menu-row">
        <div class="menu-card">
            <img src="image/yap.JPG" alt="yapp" class="menu-image">
            <div class="menu-title">Thiébou yapp</div>
            <div class="menu-price">1700 fcfa</div>
            <button class="btn btn-primary btn-sm">Commander</button>
        </div>
        <div class="menu-card">
            <img src="image/Yassa.JPG" alt="Yassa" class="menu-image">
            <div class="menu-title">Yassa</div>
            <div class="menu-price">800 fcfa</div>
            <button class="btn btn-primary btn-sm">Commander</button>
        </div>
        <div class="menu-card">
            <img src="image/Maffé.JPG" alt="Maffé" class="menu-image">
            <div class="menu-title">Maffé</div>
            <div class="menu-price">900 fcfa</div>
            <button class="btn btn-primary btn-sm">Commander</button>
        </div>
        <div class="menu-card">
            <img src="image/Saloum.PNG" alt="saloum" class="menu-image">
            <div class="menu-title">Mbakhalou saloum</div>
            <div class="menu-price">1200 fcfa</div>
            <button class="btn btn-primary btn-sm">Commander</button>  
    </div>
</div>

<div class="menu-section">
    <h3 class="text-center">Spécialité 2</h3>
    <div class="menu-row">
<div class="menu-card">
    <img src="image/Kandja.WEBP" alt="Kandja" class="menu-image">
    <div class="menu-title">Soupe kandji</div>
    <div class="menu-price">1500 fcfa</div>
    <button class="btn btn-primary btn-sm">Commander</button>
</div>
<div class="menu-card">
    <img src="image/Kaldou.JPG" alt="Kaldou" class="menu-image">
    <div class="menu-title">Kaldou</div>
    <div class="menu-price">1000 fcfa</div>
    <button class="btn btn-primary btn-sm">Commander</button>
</div>
<div class="menu-card">
    <img src="image/Domoda.JPG" alt="Domoda" class="menu-image">
    <div class="menu-title">Domoda</div>
    <div class="menu-price">800 fcfa</div>
    <button class="btn btn-primary btn-sm">Commander</button>
</div>
<div class="menu-card">
    <img src="image/djeun.JPG" alt="djeun" class="menu-image">
    <div class="menu-title">Thiébou djeun</div>
    <div class="menu-price">1000 fcfa</div>
    <button class="btn btn-primary btn-sm">Commander</button>
</div>
</div>

<div class="menu-section">
<h3 class="text-center">Désserts</h3>
<div class="menu-row">
    <div class="menu-card">
        <img src="image/ditakh.WEBP" alt="ditakh" class="menu-image">
        <div class="menu-title">Jus de ditakh</div>
        <div class="menu-price">1700 fcfa</div>
        <button class="btn btn-primary btn-sm">Commander</button>
    </div>
    <div class="menu-card">
        <img src="image/bissap.JPG" alt="bissap" class="menu-image">
        <div class="menu-title">Jus de bissap</div>
        <div class="menu-price">800 fcfa</div>
        <button class="btn btn-primary btn-sm">Commander</button>
    </div>
    <div class="menu-card">
        <img src="image/bouye.JPG" alt="bouye" class="menu-image">
        <div class="menu-title">Jus de bouye</div>
        <div class="menu-price">900 fcfa</div>
        <button class="btn btn-primary btn-sm">Commander</button>
    </div>
    <div class="menu-card">
        <img src="image/gingembre.JPG" alt="gingembre" class="menu-image">
        <div class="menu-title">Jus de gingembre</div>
        <div class="menu-price">1200 fcfa</div>
        <button class="btn btn-primary btn-sm">Commander</button>  
</div>
</div>