<section class="temoins-section">
    <h2 class="text-center text-black">Témoignages</h2>
    <div class="temoins-container">
        <div class="temoins-slide active">
            <img src="image/Antoine.JPG" alt="Client 1" class="temoins-image">
            <div class="temoins-name">Antoine Garcia</div>
            <p class="temoins-text">"Je suis tombé amoureux de ce restaurant unique en son genre".</p>
        </div>
        <div class="temoins-slide">
            <img src="image/Ousmane.JPG" alt="Client 2" class="temoins-image">
            <div class="temoins-name">Ousmane Mballo</div>
            <p class="temoins-text">"J’ai vraiment été séduit par sauce piquante, depuis la première réservation 
                je ne l’ai pas regretté".</p>
        </div>
        <div class="temoins-slide">
            <img src="image/Adama.JPG" alt="Client 3" class="temoins-image">
            <div class="temoins-name">Adama Ndiaye</div>
            <p class="temoins-text">"L’originalité de leurs recettes a fait de ce restaurant mon préféré."</p>
        </div>
    </div>
    <div class="temoins-controls">
        <button id="prev">←</button>
        <button id="next">→</button>
    </div>
</section>